<div class="container-fluid topheader">
  <div class="row no-gutter sectionheaderinner col-container">
    <div class="col-1-1 topheaderrow">
      <div class="colwrapper">
        <div class="row no-gutter sectionheaderinner col-container">
          <div class="col headercol1">
            <img src="assets/images/artistheaderlogo.png" alt="headerlogo">
          </div>
          <div class="col headercol2">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#aemyNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Menu</a>
                </div>
                <div class="collapse navbar-collapse tablenav" id="aemyNavbar">
                  <ul class="nav navbar-nav artistxphul">
                    <li [style.width]="liWidth" class="homeli"><a [routerLink]="['/']">Home</a></li>
                    <li [style.width]="liWidth" class="aboutli"><a (click)="showPopup(headertemplate)">About the Deadline</a></li>
                    <li [style.width]="liWidth" class="nextdeadli"><a (click)="showPopup(headertemplate)">Next Deadline</a></li>
                    <li [style.width]="liWidth" class="ticketli"><a (click)="showPopup(headertemplate)">Tickets</a></li>
                    <li [style.width]="liWidth" class="artistexli"><a  (click)="showPopup(headertemplate)">Artist Exchange</a></li>

                    <li *ngIf="user_id != '' " [style.width]="liWidth" class="contactli"><a (click)="showPopup(headertemplate)">Contact</a></li>
                    <li *ngIf="user_id == '' " [style.width]="liWidth2" class="contactli"><a (click)="showPopup(headertemplate)">Contact</a></li>

                    <li [style.width]="liWidth2" class="artistexli" *ngIf="user_id != '' "><a [routerLink]="['/profile']">Profile</a></li>
                    <li [style.width]="liWidth2" class="communityli"><a  [routerLink]="['/community']">Communities</a></li>
                    <li [style.width]="liWidth2" class="trartistli"><a [routerLink]="['/trendingartist']">Artist Search</a></li>
                    <!--<li class="trmediali"><a style="cursor: pointer;" (click)="showPopup(headertemplate)">Trending Media</a></li>-->
                    <li [style.width]="liWidth2" class="trmediali"><a [routerLink]="['/trendingmedia']">Trending Media</a></li>
                    <li [style.width]="liWidth2" *ngIf="user_id == '' " class="signupli"><a [routerLink]="['']">Sign up</a></li>
                    <li [style.width]="liWidth2" class="commpli"><a [routerLink]="['/competition/']">Competitions</a></li>
                    <!--<li [style.width]="liWidth2" class="contactli"><a [routerLink]="['/artistxp-contactus/']">Contact</a></li>-->

                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="col headercol3">
            <ul class="list-inline">
              <span *ngIf="user_id=='' ">
              <li><a [routerLink]="['/login/']"><span>Log In</span></a></li>
              </span>
              <span *ngIf="user_id!='' ">
              <li><a (click)="_commonservices.logout()"><span>Log Out</span></a></li>
                </span>
              <!--<li>-->
                <!--<div class="socialmediaicons socialmediaicons2">-->
                  <!--<a href="javascript:void(0)" class="fa fa-twitter"></a>-->
                  <!--<a href="javascript:void(0)" class="fa fa-facebook"></a>-->
                <!--</div>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #headertemplate>
  <div class="modal-body text-center signupeamilbody">

    <button type="button" class="close" (click)="closep()">&times;</button>
    <img src="../../assets/images/artistheaderlogo.png" alt="logo">
    <p><span>We are currently in Pre-Launch and will be turning on the full power of ArtistXP.com on January 5th, 2019!<br><br>You can sign up now to get your profile the minute we go live.<a style="cursor: pointer;" (click)="gotoSignUp()">Sign up Now!</a></span></p>

  </div>
</ng-template>
