<app-header></app-header>
<div class="blogblock">
  <div class="blogwrappernew">
    <div class="row">
      <div class="col-xs-12 ">
        <!--<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-bydate-tab" data-toggle="pill" href="#pills-bydate" role="tab" aria-controls="pills-bydate" aria-selected="true">BY DATE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-byauthor-tab" data-toggle="pill" href="#pills-byauthor" role="tab" aria-controls="pills-byauthor" aria-selected="false">BY AUTHOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-bycategory-tab" data-toggle="pill" href="#pills-bycategory" role="tab" aria-controls="pills-bycategory" aria-selected="false">BY CATEGORY</a>
          </li>
        </ul>-->
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane show active" id="pills-bydate" role="tabpanel" aria-labelledby="pills-bydate-tab">
            <!--<h2>LIST BY CATEGORY</h2>-->
            <div class="singleblogwrapper">
              <div class="row is-table-row">
                <div class="col-lg-3 col-md-5">
                  <div class="blogimgwrapper">
                    <img src="assets/images/blogimg1.jpg">
                  </div>
                  <div class="blogimgwrapperouter"></div>
                </div>
                <div class="col-lg-9 col-md-7 blogcontentarea">
                  <h4> Lorem Ipsum is simply dummy text of the printing and typesetting industry </h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="weblinks">
                    <span class="weblinksspan1"> By  Lorem Ipsum</span>
                    <span class="weblinksspan2">Aug 30, 2018</span>
                  </div>
                </div>
              </div>
              <span class="hrdivider"></span>
              <div class="row bottomsociallinks">
                <div class="col-lg-12 col-md-12">

                  <ul class="socialmenu">
                    <li><img src="assets/images/blog-sharelink.png"></li>
                    <li><img src="assets/images/blog-fbicon.png"></li>
                    <li><img src="assets/images/blog-twicon.png"></li>
                    <li><img src="assets/images/blog-linkdinicon.png"></li>
                    <li><img src="assets/images/blog-gplusicon.png"></li>
                  </ul>
                  <div class="blogblockcatlistitemright_readmore">
                    <a href="javascript:void(0);">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="singleblogwrapper">
              <div class="row is-table-row">
                <div class="col-lg-3 col-md-5">
                  <div class="blogimgwrapper">
                    <img src="assets/images/blogimg2.jpg">
                  </div>
                  <div class="blogimgwrapperouter"></div>
                </div>
                <div class="col-lg-9 col-md-7 blogcontentarea">
                  <h4> Lorem Ipsum is simply dummy text of the printing and typesetting industry </h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="weblinks">
                    <span class="weblinksspan1"> By  Lorem Ipsum</span>
                    <span class="weblinksspan2">Aug 30, 2018</span>
                  </div>
                </div>
              </div>
              <span class="hrdivider"></span>
              <div class="row bottomsociallinks">
                <div class="col-lg-12 col-md-12">

                  <ul class="socialmenu">
                    <li><img src="assets/images/blog-sharelink.png"></li>
                    <li><img src="assets/images/blog-fbicon.png"></li>
                    <li><img src="assets/images/blog-twicon.png"></li>
                    <li><img src="assets/images/blog-linkdinicon.png"></li>
                    <li><img src="assets/images/blog-gplusicon.png"></li>
                  </ul>
                  <div class="blogblockcatlistitemright_readmore">
                    <a href="javascript:void(0);">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="singleblogwrapper">
              <div class="row is-table-row">
                <div class="col-lg-3 col-md-5">
                  <div class="blogimgwrapper">
                    <img src="assets/images/blogimg3.jpg">
                  </div>
                  <div class="blogimgwrapperouter"></div>
                </div>
                <div class="col-lg-9 col-md-7 blogcontentarea">
                  <h4> Lorem Ipsum is simply dummy text of the printing and typesetting industry </h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="weblinks">
                    <span class="weblinksspan1"> By  Lorem Ipsum</span>
                    <span class="weblinksspan2">Aug 30, 2018</span>
                  </div>
                </div>
              </div>
              <span class="hrdivider"></span>
              <div class="row bottomsociallinks">
                <div class="col-lg-12 col-md-12">

                  <ul class="socialmenu">
                    <li><img src="assets/images/blog-sharelink.png"></li>
                    <li><img src="assets/images/blog-fbicon.png"></li>
                    <li><img src="assets/images/blog-twicon.png"></li>
                    <li><img src="assets/images/blog-linkdinicon.png"></li>
                    <li><img src="assets/images/blog-gplusicon.png"></li>
                  </ul>
                  <div class="blogblockcatlistitemright_readmore">
                    <a href="javascript:void(0);">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="singleblogwrapper">
              <div class="row is-table-row">
                <div class="col-lg-3 col-md-5">
                  <div class="blogimgwrapper">
                    <img src="assets/images/blogimg4.jpg">
                  </div>
                  <div class="blogimgwrapperouter"></div>
                </div>
                <div class="col-lg-9 col-md-7 blogcontentarea">
                  <h4> Lorem Ipsum is simply dummy text of the printing and typesetting industry </h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="weblinks">
                    <span class="weblinksspan1"> By  Lorem Ipsum</span>
                    <span class="weblinksspan2">Aug 30, 2018</span>
                  </div>
                </div>
              </div>
              <span class="hrdivider"></span>
              <div class="row bottomsociallinks">
                <div class="col-lg-12 col-md-12">

                  <ul class="socialmenu">
                    <li><img src="assets/images/blog-sharelink.png"></li>
                    <li><img src="assets/images/blog-fbicon.png"></li>
                    <li><img src="assets/images/blog-twicon.png"></li>
                    <li><img src="assets/images/blog-linkdinicon.png"></li>
                    <li><img src="assets/images/blog-gplusicon.png"></li>
                  </ul>
                  <div class="blogblockcatlistitemright_readmore">
                    <a href="javascript:void(0);">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="singleblogwrapper">
              <div class="row is-table-row">
                <div class="col-lg-3 col-md-5">
                  <div class="blogimgwrapper">
                    <img src="assets/images/blogimg5.jpg">
                  </div>
                  <div class="blogimgwrapperouter"></div>
                </div>
                <div class="col-lg-9 col-md-7 blogcontentarea">
                  <h4> Lorem Ipsum is simply dummy text of the printing and typesetting industry </h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="weblinks">
                    <span class="weblinksspan1"> By  Lorem Ipsum</span>
                    <span class="weblinksspan2">Aug 30, 2018</span>
                  </div>
                </div>
              </div>
              <span class="hrdivider"></span>
              <div class="row bottomsociallinks">
                <div class="col-lg-12 col-md-12">
                  <ul class="socialmenu">
                    <li><img src="assets/images/blog-sharelink.png"></li>
                    <li><img src="assets/images/blog-fbicon.png"></li>
                    <li><img src="assets/images/blog-twicon.png"></li>
                    <li><img src="assets/images/blog-linkdinicon.png"></li>
                    <li><img src="assets/images/blog-gplusicon.png"></li>
                  </ul>
                  <div class="blogblockcatlistitemright_readmore">
                    <a href="javascript:void(0);">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-byauthor" role="tabpanel" aria-labelledby="pills-byauthor-tab">
            <h2>BY AUTHOR</h2>
          </div>
          <div class="tab-pane fade" id="pills-bycategory" role="tabpanel" aria-labelledby="pills-bycategory-tab">
            <h2>LIST BY CATEGORY</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>