<app-artistheader></app-artistheader>

<div class="container-fluid pageheaderblock">
  <div class="row no-gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>Friends</h1>
    </div>
  </div>
</div>

<div class="container-fluid trendingartistblock1 friendsblock1">
  <div class="row no-gutter">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 artistsexchangeleftdiv">
      <div class="sectionheader">
        <div class="row no-gutter sectionheaderinner col-container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col">
            <h2>Friends</h2>
          </div>
        </div>
      </div>
      <div class="sectionbody">
        <div class="row no-gutter sectionheaderinner col-container">
          <div class="col-1-5 col" *ngFor="let val of friendsarray">
            <div class="imgwrapper">
              <!--<img src="assets/images/artistimg-friend1.jpg" alt="friend1">-->
              <img *ngIf="val.images!= undefined"  src="https://audiodeadline.com/nodeserver/uploads/{{val.images}}" alt="communities1" [routerLink]="['/userprofile',val._id,val.username]">
              <img *ngIf="val.images== undefined"  src="../../assets/images/default_profile_pic.jpg" alt="communities1" [routerLink]="['/userprofile',val._id,val.username]">
            </div>
            <div class="block4container">
              <blockquote>
                <p class="mb-0">{{val.fullname}}</p>
                <p class="mb-1" *ngIf="val.city!='' || val.state!='' || val.zip!='' ">{{val.city}} , {{val.state}} - {{val.zip}}</p>
                <p class="mb-2"><span>MEMBER SINCE</span> {{unixtodatetimeConverter(0,val.added_time)}}</p>
              </blockquote>
            </div>
          </div>
         <!-- <div class="col-1-5 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-friend2.jpg" alt="friend2">
            </div>
            <div class="block4container">
              <blockquote>
                <p class="mb-0">Jane Doe</p>
                <p class="mb-1">New York, CA - 600156</p>
                <p class="mb-2"><span>MEMBER SINCE</span> 04-DEC-2018</p>
              </blockquote>
            </div>
          </div>
          <div class="col-1-5 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-friend3.jpg" alt="friend3">
            </div>
            <div class="block4container">
              <blockquote>
                <p class="mb-0">Jane Doe</p>
                <p class="mb-1">New York, CA - 600156</p>
                <p class="mb-2"><span>MEMBER SINCE</span> 04-DEC-2018</p>
              </blockquote>
            </div>
          </div>
          <div class="col-1-5 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-friend4.jpg" alt="friend4">
            </div>
            <div class="block4container">
              <blockquote>
                <p class="mb-0">Jane Doe</p>
                <p class="mb-1">New York, CA - 600156</p>
                <p class="mb-2"><span>MEMBER SINCE</span> 04-DEC-2018</p>
              </blockquote>
            </div>
          </div>
          <div class="col-1-5 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-friend5.jpg" alt="friend5">
            </div>
            <div class="block4container">
              <blockquote>
                <p class="mb-0">Jane Doe</p>
                <p class="mb-1">New York, CA - 600156</p>
                <p class="mb-2"><span>MEMBER SINCE</span> 04-DEC-2018</p>
              </blockquote>
            </div>
          </div>
          <div class="col-1-5 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-friend6.jpg" alt="friend6">
            </div>
            <div class="block4container">
              <blockquote>
                <p class="mb-0">Jane Doe</p>
                <p class="mb-1">New York, CA - 600156</p>
                <p class="mb-2"><span>MEMBER SINCE</span> 04-DEC-2018</p>
              </blockquote>
            </div>
          </div>
          <div class="col-1-5 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-friend7.jpg" alt="friend7">
            </div>
            <div class="block4container">
              <blockquote>
                <p class="mb-0">Jane Doe</p>
                <p class="mb-1">New York, CA - 600156</p>
                <p class="mb-2"><span>MEMBER SINCE</span> 04-DEC-2018</p>
              </blockquote>
            </div>
          </div>
          <div class="col-1-5 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-friend8.jpg" alt="friend8">
            </div>
            <div class="block4container">
              <blockquote>
                <p class="mb-0">Jane Doe</p>
                <p class="mb-1">New York, CA - 600156</p>
                <p class="mb-2"><span>MEMBER SINCE</span> 04-DEC-2018</p>
              </blockquote>
            </div>
          </div>-->
        </div>
      </div>
      <div class="row no-gutter sectionheaderinner col-container paginationtabwrapper">
        <nav class="paginationtab">
          <div class="paginationwrapper">
            <ul class="pagination pg-darkgrey pagination_list">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item"><a class="page-link">5</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 competitionrightdiv competitionrightdivtop">
      <!---Right Side Banner Start Block---->
      <div class="rightbannerdivwrapper">
        <div class="rightbannerdiv">
          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen6.jpg" alt="rightbannerdiv screen6"></div>
          </div>
          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen3.jpg" alt="rightbannerdiv screen3"></div>
          </div>

          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen9.jpg" alt="rightbannerdiv screen9"></div>
          </div>
        </div>
      </div>
      <!---Right Side Banner End Block---->

    </div>
  </div>
</div>





<app-artistfooter></app-artistfooter>





<ng-template #commingsoontemplate>
  <div class="modal-body text-center signupeamilbody">

    <button type="button" class="close" (click)="closep()">&times;</button>
    <img src="../../assets/images/artistheaderlogo.png" alt="logo">
    <p><span>This is currently a concept page to give you and idea of what the ArtistXP Experience is going to be all about. When we launch you will have access to these incredible features. <br><br>Get the ArtistXP Experience NOW!  <a style="cursor: pointer; width: 360px;" (click)="gotoSignUp()">Get back to Pre Launch Sign Up</a></span></p>

  </div>
</ng-template>