<app-header></app-header>
<div class="blogblock">
  <div class="blogwrappernew">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="tab-content">
          <h2>CATEGORY - Category Name</h2>
          <div class="singleblogwrapper blogdetailpage">
            <div class="row">
              <div class="col-lg-12 col-md-12 blogcontentarea">
                <h2> Lorem Ipsum is simply dummy text of the printing and typesetting industry </h2>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="blogimgwrapper">
                  <img src="assets/images/blogimg1.jpg">
                </div>
                <div class="blogimgwrapperouter"></div>
              </div>
              <div class="col-lg-12 col-md-12 blogcontentarea">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
            <span class="hrdivider"></span>
            <div class="row bottomsociallinks">
              <div class="col-lg-6 col-md-6">
                <div class="weblinks">
                  <span class="weblinksspan1"> By  Lorem Ipsum</span>
                  <span class="weblinksspan2">Aug 30, 2018</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="socialmenu">
                  <li><img src="assets/images/blog-sharelink.png"></li>
                  <li><img src="assets/images/blog-fbicon.png"></li>
                  <li><img src="assets/images/blog-twicon.png"></li>
                  <li><img src="assets/images/blog-linkdinicon.png"></li>
                  <li><img src="assets/images/blog-gplusicon.png"></li>
                </ul>
              </div>
            </div>
            <span class="hrdivider"></span>
            <div class="row">
              <div class="col-lg-12 col-md-12 gallerydiv">
                <h2>Gallery</h2>
                <div class="row no-margine col-container">
                  <div class="col-1-5 col colcolor">
                    <div class="imgwrapper">
                      <div class="videoWrapper">
                        <!-- Copy & Pasted from YouTube -->
                        <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="col-1-5 col colcolor">
                    <div class="imgwrapper">
                      <div class="videoWrapper">
                        <img src="assets/images/blogimg1.jpg" alt="RTR2">
                      </div>
                    </div>
                  </div>
                  <div class="col-1-5 col colcolor">
                    <div class="imgwrapper">
                      <div class="videoWrapper">
                        <img src="assets/images/blogimg1.jpg" alt="RTR2">
                      </div>
                    </div>
                  </div>
                  <div class="col-1-5 col colcolor">
                    <div class="imgwrapper">
                      <div class="videoWrapper">
                        <!-- Copy & Pasted from YouTube -->
                        <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="col-1-5 col colcolor">
                    <div class="imgwrapper">
                      <div class="videoWrapper">
                        <img src="assets/images/blogimg1.jpg" alt="RTR2">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>