<app-artistheader></app-artistheader>

<div class="container-fluid pageheaderblock">
  <div class="row no-gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>favorite artists</h1>
    </div>
  </div>
</div>

<div class="container-fluid trendingartistblock1 favoriteartistsblock1">
  <div class="row no-gutter">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 artistsexchangeleftdiv">
      <div class="sectionheader">
        <div class="row no-gutter sectionheaderinner col-container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col">
            <h2>favorite artists</h2>
          </div>
        </div>
      </div>
      <div class="sectionbody">
        <div class="row no-gutter sectionheaderinner col-container">
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities1.jpg" alt="communities1">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities2.jpg" alt="img-communities2">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities3.jpg" alt="img-communities3">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities4.jpg" alt="img-communities4">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities5.jpg" alt="img-communities5">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities6.jpg" alt="img-communities6">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities7.jpg" alt="img-communities7">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities8.jpg" alt="img-communities8">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities9.jpg" alt="img-communities9">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities10.jpg" alt="img-communities10">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities11.jpg" alt="img-communities11">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities12.jpg" alt="img-communities12">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities13.jpg" alt="img-communities13">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities14.jpg" alt="img-communities14">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities15.jpg" alt="img-communities15">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities16.jpg" alt="img-communities16">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities17.jpg" alt="img-communities17">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
          <div class="col-1-6 col">
            <div class="imgwrapper">
              <img src="assets/images/artistimg-communities18.jpg" alt="img-communities18">
              <div class="block4container">
                <h2>Lorem ipsum</h2>
                <h3>4 new posts</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutter sectionheaderinner col-container paginationtabwrapper">
        <nav class="paginationtab">
          <div class="paginationwrapper">
            <ul class="pagination pg-darkgrey pagination_list">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item"><a class="page-link">5</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 competitionrightdiv competitionrightdivtop">
      <!---Right Side Banner Start Block---->
      <div class="rightbannerdivwrapper">
        <div class="rightbannerdiv">
          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen6.jpg" alt="rightbannerdiv screen6"></div>
          </div>
          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen3.jpg" alt="rightbannerdiv screen3"></div>
          </div>

          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen9.jpg" alt="rightbannerdiv screen9"></div>
          </div>
        </div>
      </div>
      <!---Right Side Banner End Block---->

    </div>
  </div>
</div>





<app-artistfooter></app-artistfooter>





<ng-template #commingsoontemplate>
  <div class="modal-body text-center signupeamilbody">

    <button type="button" class="close" (click)="closep()">&times;</button>
    <img src="../../assets/images/artistheaderlogo.png" alt="logo">
    <p><span>This is currently a concept page to give you and idea of what the ArtistXP Experience is going to be all about. When we launch you will have access to these incredible features. <br><br>Get the ArtistXP Experience NOW!  <a style="cursor: pointer; width: 360px;" (click)="gotoSignUp()">Get back to Pre Launch Sign Up</a></span></p>

  </div>
</ng-template>