<app-artistheader></app-artistheader>

<div class="container-fluid pageheaderblock">
    <div class="row no-gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>MY PHOTOS</h1>
        </div>
    </div>
</div>

<div class="container-fluid trendingartistblock1 photogalleryblock1 myphotos">
    <div class="row no-gutter">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 artistsexchangeleftdiv">
            <!-- <div class="sectionheader">
               <div class="row no-gutter sectionheaderinner col-container">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col">
                   <h2>PHOTOS</h2>
                 </div>
               </div>
             </div>-->
            <div class="sectionbody myphotosdiv">
                <div class="row no-gutter sectionheaderinner col-container">
                    <div class="col-1-5 col colcolor" *ngFor="let pvalue of picArray">
                        <div class="hover_button">
                            <button class="button" *ngIf="cookie_user_id==pvalue.user_id" ><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editPic(pvalue)" ></i> </button>
                            <button class="button" *ngIf="cookie_user_id==pvalue.user_id"><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteVideo(0,pvalue._id,3)"></i> </button>
                        </div>
                        <div class="imgwrapper">
                            <!--<img src="assets/images/artistimg-photogal2.jpg" alt="photogal2">-->
                            <img src="{{siteurl}}nodeserver/uploads/pictures/{{pvalue.user_id}}/{{pvalue.image_pic}}" alt="RTR1" (click)="showpicturedetail(pvalue)">
                        </div>
                        <div class="sectionheaderinnercontainer">
                            <blockquote>
                                <!--<p class="mb-0">Jimmy Sarab on <span>3-14-2018</span></p>-->
                                <p class="mb-0"><span>{{pvalue.userdata[0].firstname}} {{pvalue.userdata[0].lastname}}</span><span>{{convertunixtotimeago(pvalue.added_time)}}</span></p>
                            </blockquote>
                        </div>
                        <div class="feedslinks">
                            <!--<span class="feedslinks5"><i class="fa fa-eye"></i> Views: 389</span>-->
                            <span class="feedslinks5"  *ngIf="pvalue.picviews[0]!=null" ><i class="fa fa-eye"></i> Views: {{pvalue.picviews[0].piccount}}</span>
                            <span class="feedslinks5"  *ngIf="pvalue.picviews[0]==null" ><i class="fa fa-eye"></i> Views: 0</span>
                            <!--<span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>-->
                            <ng-template #popTemplate5 ><div [innerHtml]="html"></div></ng-template>
                            <span class="feedslinks4" [popover]="popTemplate5" [outsideClick]="true"  (mouseenter)="setshareflag('picture',pvalue)"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>

                            <!--<span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>-->
                            <span (click)="showpicturelike(pvalue)" *ngIf="pvalue.picturelikes[0]!=null && !getlikeonstatus(pvalue.userpicturelikes)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like:{{pvalue.picturelikes[0].vlike}}</span>
                            <span (click)="showpicturelike(pvalue)" *ngIf="pvalue.picturelikes[0]==null"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like: 0</span>
                            <span (click)="showpictureunlike(pvalue)" *ngIf="pvalue.picturelikes[0]!=null && getlikeonstatus(pvalue.userpicturelikes)" ><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like: {{pvalue.picturelikes[0].vlike}}</span>
                        </div>
                    </div>

                    <!--<div class="col-1-5 col colcolor">
                      <div class="imgwrapper">
                                                        <img src="assets/images/artistimg-photogal3.jpg" alt="photogal3">
                                                    </div>
                      <div class="sectionheaderinnercontainer">
                                                        <blockquote>
                                                            <p class="mb-0">Jimmy Sarab on <span>3-14-2018</span></p>
                                                        </blockquote>
                                                    </div>
                      <div class="feedslinks">
                                                        <span class="feedslinks5"><i class="fa fa-eye"></i> Views: 389</span>
                                                        <span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>
                                                        <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                    </div>
                    </div>
                    <div class="col-1-5 col colcolor">
                      <div class="imgwrapper">
                                                        <img src="assets/images/artistimg-photogal4.jpg" alt="photogal4">
                                                    </div>
                      <div class="sectionheaderinnercontainer">
                                                        <blockquote>
                                                            <p class="mb-0">Jimmy Sarab on <span>3-14-2018</span></p>
                                                        </blockquote>
                                                    </div>
                      <div class="feedslinks">
                                                        <span class="feedslinks5"><i class="fa fa-eye"></i> Views: 389</span>
                                                        <span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>
                                                        <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                    </div>
                    </div>
                    <div class="col-1-5 col colcolor">
                      <div class="imgwrapper">
                                                        <img src="assets/images/artistimg-photogal5.jpg" alt="photogal5">
                                                    </div>
                      <div class="sectionheaderinnercontainer">
                                                        <blockquote>
                                                            <p class="mb-0">Jimmy Sarab on <span>3-14-2018</span></p>
                                                        </blockquote>
                                                    </div>
                      <div class="feedslinks">
                                                        <span class="feedslinks5"><i class="fa fa-eye"></i> Views: 389</span>
                                                        <span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>
                                                        <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                    </div>
                    </div>
                    <div class="col-1-5 col colcolor">
                      <div class="imgwrapper">
                        <img src="assets/images/artistimg-photogal2.jpg" alt="photogal2">
                      </div>
                      <div class="sectionheaderinnercontainer">
                        <blockquote>
                          <p class="mb-0">Jimmy Sarab on <span>3-14-2018</span></p>
                        </blockquote>
                      </div>
                      <div class="feedslinks">
                        <span class="feedslinks5"><i class="fa fa-eye"></i> Views: 389</span>
                        <span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>
                        <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                      </div>
                    </div>
                    <div class="col-1-5 col colcolor">
                      <div class="imgwrapper">
                        <img src="assets/images/artistimg-photogal3.jpg" alt="photogal3">
                      </div>
                      <div class="sectionheaderinnercontainer">
                        <blockquote>
                          <p class="mb-0">Jimmy Sarab on <span>3-14-2018</span></p>
                        </blockquote>
                      </div>
                      <div class="feedslinks">
                        <span class="feedslinks5"><i class="fa fa-eye"></i> Views: 389</span>
                        <span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>
                        <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                      </div>
                    </div>
                    <div class="col-1-5 col colcolor">
                      <div class="imgwrapper">
                        <img src="assets/images/artistimg-photogal4.jpg" alt="photogal4">
                      </div>
                      <div class="sectionheaderinnercontainer">
                        <blockquote>
                          <p class="mb-0">Jimmy Sarab on <span>3-14-2018</span></p>
                        </blockquote>
                      </div>
                      <div class="feedslinks">
                        <span class="feedslinks5"><i class="fa fa-eye"></i> Views: 389</span>
                        <span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>
                        <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                      </div>
                    </div>
                    <div class="col-1-5 col colcolor">
                      <div class="imgwrapper">
                        <img src="assets/images/artistimg-photogal5.jpg" alt="photogal5">
                      </div>
                      <div class="sectionheaderinnercontainer">
                        <blockquote>
                          <p class="mb-0">Jimmy Sarab on <span>3-14-2018</span></p>
                        </blockquote>
                      </div>
                      <div class="feedslinks">
                        <span class="feedslinks5"><i class="fa fa-eye"></i> Views: 389</span>
                        <span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>
                        <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                      </div>
                    </div>-->
                </div>
            </div>
            <!--<div class="row no-gutter sectionheaderinner col-container paginationtabwrapper">
                  <nav class="paginationtab">
                      <div class="paginationwrapper">
                          <ul class="pagination pg-darkgrey pagination_list">
                              <li class="page-item">
                                  <a class="page-link" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only">Previous</span>
                                  </a>
                              </li>
                              <li class="page-item active"><a class="page-link">1</a></li>
                              <li class="page-item"><a class="page-link">2</a></li>
                              <li class="page-item"><a class="page-link">3</a></li>
                              <li class="page-item"><a class="page-link">4</a></li>
                              <li class="page-item"><a class="page-link">5</a></li>
                              <li class="page-item">
                                  <a class="page-link" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">Next</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </nav>
              </div>-->

        </div>


        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 competitionrightdiv competitionrightdivtop">

            <!---Right Side Banner Start Block---->
            <div class="rightbannerdivwrapper">
                <div class="rightbannerdiv">
                    <div class="rightbannerdivimg">
                        <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen6.jpg" alt="rightbannerdiv screen6"></div>
                    </div>
                    <div class="rightbannerdivimg">
                        <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen3.jpg" alt="rightbannerdiv screen3"></div>
                    </div>
                </div>
            </div>
            <!---Right Side Banner End Block---->

        </div>
    </div>
</div>





<app-artistfooter></app-artistfooter>


<!--picture detail modal starts here-->
<div *ngIf="isModalPicDetail" class="modal fade modalVideoUpload modalVideoUploadgallery picture_modal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header deletemodal">
                <button type="button" class="close pull-right" aria-label="Close" (click)="isModalPicDetail=false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!--<div>
                    <img src="{{siteurl}}nodeserver/uploads/pictures/{{user_id}}/{{selectedpicture.image_pic}}">


                    <div class="play_video_status">
                        <p>
                            <span *ngIf="selectedpicture.picviews[0]!=null "><i class="fa fa-eye" aria-hidden="true"></i> Views: {{selectedpicture.picviews[0].piccount}}</span>
                            <span *ngIf="selectedpicture.picviews[0]==null "><i class="fa fa-eye" aria-hidden="true"></i> Views: 0</span>
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>
                            <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>
                            <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comment</span>
                        </p>
                    </div>

                </div>-->
                <div class="col-md-7 leftimage">
                    <div class="imgwrapper">
                        <img src="{{siteurl}}nodeserver/uploads/pictures/{{selectedpictureuserid}}/{{selectedpicture.image_pic}}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="pic_modal_right">
                        <div class="picmodaltitle">
                            <div class="row no-gutter col-container bodybloc5bottom">
                                <div class="col">
                                    <div class="feedslinks">
                                        <span class="feedslinks1 userimagetitle">
                                            <div class="imgwrapper">
                                                <!--<img src="../../assets/images/artistfeed-smlimg1btm.jpg" alt="RTP5">-->
                                                <img src="{{siteurl}}nodeserver/uploads/{{selectedpicture.userdata[0].images}}" alt="RTP5">
                                            </div>
                                            <div class="usertitle">
                                                 <!--user name-->
                                                {{selectedpicture.userdata[0].firstname}}  {{selectedpicture.userdata[0].lastname}}
                                                <!--<span>{{pvalue.userdata[0].firstname}} {{pvalue.userdata[0].lastname}}</span><span>{{convertunixtotimeago(pvalue.added_time)}}</span>-->
                                            </div>
                                        </span>
                                        <span class="feedslinks3 userrightmrnu">
                                            <!--<b>11/09/2018</b>-->
                                            {{convertunixtotimeago(selectedpicture.added_time)}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment_description">
                            <!-- <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
                            <p>{{selectedpicture.desc_pic}}</p>
                        </div>
                        <div class="comment_so_icon">
                            <div class="play_video_status">
                                <p>

                                    <span *ngIf="selectedpicture.picviews[0]!=null "><i class="fa fa-eye" aria-hidden="true"></i> Views: {{selectedpicture.picviews[0].piccount}}</span>
                                    <span *ngIf="selectedpicture.picviews[0]==null "><i class="fa fa-eye" aria-hidden="true"></i> Views: 0</span>
                                    <!--<span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>-->
                                    <ng-template #popTemplate6 ><div [innerHtml]="html"></div></ng-template>
                                    <span class="feedslinks4" [popover]="popTemplate6" [outsideClick]="true"  (mouseenter)="setshareflag('picture',selectedpicture)"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>


                                    <!--<span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>-->

                                    <span (click)="showpicturelike(selectedpicture)" *ngIf="selectedpicture.picturelikes[0]!=null && !getlikeonstatus(selectedpicture.userpicturelikes)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like:{{selectedpicture.picturelikes[0].vlike}}</span>
                                    <span (click)="showpicturelike(selectedpicture)" *ngIf="selectedpicture.picturelikes[0]==null"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like: 0</span>
                                    <span (click)="showpictureunlike(selectedpicture)" *ngIf="selectedpicture.picturelikes[0]!=null && getlikeonstatus(selectedpicture.userpicturelikes)" ><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like: {{selectedpicture.picturelikes[0].vlike}}</span>


                                    <span><i class="fa fa-commenting-o" aria-hidden="true"></i> Comment: {{selectedpicture.comments.length}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="pic_modal_right_wrapper" id="style-6">
                            <div class="comment_modal">

                                <div class="comment_container">

                                    <div class="comment_container">
                                        <!--  <div class="row no-gutter col-container bodybloc5bottom">
                                              <div class="col">
                                                  <div class="feedslinks">
                                  <span class="feedslinks1 comment_user_image">
                                      <div class="imgwrapper"><img src="../../assets/images/artistfeed-smlimg1btm.jpg" alt="RTP5"></div>
                                  </span>
                                                      <span class="feedslinks3 comment_user_text">
                                      <div class="row">
                                          <div class="row comment_box">
                                              <a href="#">User name</a>
                                              <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the                                           printing and typesetting industry. </b>
                                          </div>
                                          <div class="row no-gutter col-container bodybloc5bottom">
                                              <div class="col">
                                                  <div class="feedslinks comment_text_reply">
                                                      <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                      <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    <div class="row">
                                          <div class="row no-gutter col-container bodybloc5bottom">
                                              <div class="col">
                                                  <div class="feedslinks">
                                                      <span class="feedslinks1 comment_user_image">
                                                          <div class="imgwrapper"><img src="../../assets/images/artistfeed-smlimg3.jpg" alt="RTP5"></div>
                                                      </span>
                                                      <span class="feedslinks3 comment_user_text">
                                                          <div class="row">
                                                              <div class="row comment_box">
                                                                  <a href="#">User name</a>
                                                                  <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </b>
                                                              </div>
                                                              <div class="row no-gutter col-container bodybloc5bottom">
                                                                  <div class="col">
                                                                      <div class="feedslinks comment_text_reply">
                                                                          <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                                          <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="row no-gutter col-container bodybloc5bottom">
                                              <div class="col">
                                                  <div class="feedslinks">
                                                      <span class="feedslinks1 comment_user_image">
                                                          <div class="imgwrapper"><img src="../../assets/images/artistfeed-smlimg3.jpg" alt="RTP5"></div>
                                                      </span>
                                                      <span class="feedslinks3 comment_user_text">
                                                          <div class="row">
                                                              <div class="row comment_input">
                                                                  <input type="text" class="form-control" (keyup)="addcomment($event)">
                                                              </div>

                                                          </div>
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </span>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row no-gutter col-container bodybloc5bottom">
                                              <div class="col">
                                                  <div class="feedslinks">
                                  <span class="feedslinks1 comment_user_image">
                                      <div class="imgwrapper"><img src="../../assets/images/artistfeed-smlimg1btm.jpg" alt="RTP5"></div>
                                  </span>
                                                      <span class="feedslinks3 comment_user_text">
                                      <div class="row comment_box">
                                          <a href="#">User name</a>
                                          <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the                                           printing and typesetting industry. </b>
                                      </div>
                                      <div class="row no-gutter col-container bodybloc5bottom">
                                          <div class="col">
                                              <div class="feedslinks comment_text_reply">
                                                  <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                  <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                              </div>
                                          </div>
                                      </div>
                                  </span>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row comment_input_se">
                                              <div class="row no-gutter col-container bodybloc5bottom">
                                                  <div class="col">
                                                      <div class="feedslinks">
                                                      <span class="feedslinks1 comment_user_image">
                                                          <div class="imgwrapper"><img src="../../assets/images/artistfeed-smlimg3.jpg" alt="RTP5"></div>
                                                      </span>
                                                          <span class="feedslinks3 comment_user_text">
                                                          <div class="row">
                                                              <div class="row comment_input">
                                                                  <input type="text" class="form-control">
                                                              </div>

                                                          </div>
                                                      </span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>-->
                                        <div class="row no-gutter col-container bodybloc5bottom" *ngFor="let valc of selectedpicture.comments">
                                            <div class="col">
                                                <div class="feedslinks">
                            <span class="feedslinks1 comment_user_image">
                                <div class="imgwrapper">
                                    <!--<img src="../../assets/images/artistfeed-smlimg1btm.jpg" alt="RTP5">-->
                                     <span *ngIf="valc.userdata[0].images!=null" >
                                        <a target="_blank" [routerLink]="['/userprofile',valc.user_id,valc.userdata[0].username]" >
                                        <img src="{{siteurl}}nodeserver/uploads/{{valc.userdata[0].images}}" >
                                        </a>
                                    </span>

                                    <span *ngIf="valc.userdata[0].images==null">
                                            <a target="_blank" [routerLink]="['/userprofile',valc.user_id,valc.userdata[0].username]" >
                                            <img src="../../assets/images/default_profile_pic.jpg" >
                                            </a>
                                    </span>
                                </div>
                            </span>
                                                    <span class="feedslinks3 comment_user_text">
                                <div class="row comment_box">
                                    <span class="timespan">{{convertunixtotimeago(valc.added_time)}}</span>
                                    <!--<a href="#">User name</a>
                                    <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the                                           printing and typesetting industry. </b>-->

                                        <a target="_blank" [routerLink]="['/userprofile',valc.user_id,valc.userdata[0].username]">{{valc.userdata[0].firstname}} {{valc.userdata[0].lastname}}</a>
                                        <b>{{valc.comment}}</b>
                                </div>
                                                        <!--<div class="row no-gutter col-container bodybloc5bottom">
                                                            <div class="col">
                                                                <div class="feedslinks comment_text_reply">
                                                                    <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                                    <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                                                </div>
                                                            </div>
                                                        </div>-->
                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row comment_input_se" *ngIf="isloggedin==1">
                                            <div class="row no-gutter col-container bodybloc5bottom">
                                                <div class="col">
                                                    <div class="feedslinks">
                                                <span class="feedslinks1 comment_user_image">
                                                    <div class="imgwrapper">

                                                        <!--<img src="../../assets/images/artistfeed-smlimg3.jpg" alt="RTP5">-->
                                                         <span *ngIf="image==null">

                                            <img src="../../assets/images/default_profile_pic.jpg" >

                                        </span>
                                        <span *ngIf="image!=null" >

                                            <img src="{{siteurl}}nodeserver/uploads/{{image}}" >

                                        </span>
                                                    </div>
                                                </span>
                                                        <span class="feedslinks3 comment_user_text">
                                                    <div class="row">
                                                        <div class="row comment_input">
                                                            <input type="text" class="form-control" [(ngModel)]="commentval" (keyup)="addcomment($event)">
                                                        </div>

                                                    </div>
                                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>


<!--picture detail modal ends here-->


<!--picture modal starts here-->
<div *ngIf="isModalPicShown" class="modal fade modalVideoUpload" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{show: 'true'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name2" class="modal-title pull-left demoModalHeader">Add Your Pictures</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="isModalPicShown=false">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form novalidate [formGroup]="pictureform" name="pictureform"  (ngSubmit)="pictureSubmit(pictureform.value)">
                    <p>Title:</p>
                    <input type="text" name="picture-title" value="" size="40" placeholder=""  [formControl]="pictureform.controls['title_pic']">
                    <input type="hidden" name="picture-title" value="" size="40" placeholder=""  [formControl]="pictureform.controls['_id']">
                    <span *ngIf ="pictureform.controls['title_pic'].touched && !pictureform.controls['title_pic'].valid" class="has-error">Title is Required !</span>

                    <p>Description:</p>
                    <textarea class="form-control" name="picture-desc" [formControl]="pictureform.controls['desc_pic']"></textarea>
                    <span class="has-error" *ngIf ="pictureform.controls['desc_pic'].touched && !pictureform.controls['desc_pic'].valid" >Description is Required !</span>


                    <p>Privacy:</p>
                    <select name="privacy"  [formControl]="pictureform.controls['privacy']">
                        <option value="">Select One</option>
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="friends">Friends Only</option>
                    </select>
                    <span class="has-error" *ngIf ="pictureform.controls['privacy'].touched && !pictureform.controls['privacy'].valid"> Privacy field can not be blank!</span>


                    <p>Add Picture:</p>
                    <div class="imageuploaddiv">
                        <input style="display: none" type="file" (change)="onFileUpload($event)" #fileInput2>
                        <div class="file btn btnpink"  (click)="fileInput2.click()"> Select File </div>
                    </div>
                    <input type="hidden" name="picture-title" value="" size="40" placeholder=""  [formControl]="pictureform.controls['image_pic']">
                    <span class="imageuploaderror" *ngIf ="pictureform.controls['image_pic'].touched && !pictureform.controls['image_pic'].valid" >Image is Required !</span>
                    <div class="col-md-12" class="imageuploadnew" *ngIf="tempUploadFilename!='' ">
                        <img src="{{siteurl}}nodeserver/uploads/pictures/{{user_id}}/{{tempUploadFilename}}">
                    </div>
                    <div class="av_button">
                        <button type="button" class=""  type="submit">Save</button>

                        <button type="button" class=" cancelvideomodal" (click)="isModalPicShown=false">Cancel</button>
                    </div>
                </form>
            </div>

        </div>

    </div>


</div>

<!--picture modal ends here-->

<!--common modals start here-->

<div *ngIf="iscommonmodal" class="modal fade modalVideoUpload" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header deletemodal" style="border: none">

                <button type="button" class="close pull-right" aria-label="Close" (click)="iscommonmodal = false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-title pull-left demoModalHeader1" >{{commonmodalmessage}}</h4>
                <img class="demoModalImg" src="../../assets/images/artistheaderlogo.png">
            </div>
        </div>
    </div>
</div>

<div *ngIf="iscommonconfirmmodal" class="modal fade modalVideoUpload" (onHidden)="onHidden()" data-backdrop="static" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header deletemodal" style="border: none">

                <button type="button" class="close pull-right" aria-label="Close" (click)="iscommonconfirmmodal=false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="demoModalImg" src="../../assets/images/artistheaderlogo.png">
                <h4 class="modal-title pull-left demoModalHeader1" >{{commonconfirmmodalmessage}}</h4>
                <div class="av_button">
                    <button type="button" class="" (click)="iscommonconfirmmodal=false" type="button">Cancel</button>
                    <button type="button" (click)="deleteVideo(1,tempval,deleteflag)" class="">Yes</button>


                </div>

            </div>
        </div>
    </div>
</div>

<!--common modals end here-->


<ng-template #commingsoontemplate>
    <div class="modal-body text-center signupeamilbody">

        <button type="button" class="close" (click)="closep()">&times;</button>
        <img src="../../assets/images/artistheaderlogo.png" alt="logo">
        <p><span>This is currently a concept page to give you and idea of what the ArtistXP Experience is going to be all about. When we launch you will have access to these incredible features. <br><br>Get the ArtistXP Experience NOW!  <a style="cursor: pointer; width: 360px;" (click)="gotoSignUp()">Get back to Pre Launch Sign Up</a></span></p>

    </div>
</ng-template>
<a style="display: none;" #gsharelink [attr.href]="generalshareurl" class="gsharelink" target="_blank">Share</a>