<app-artistheader></app-artistheader>

<div class="container-fluid pageheaderblock">
    <div class="row no-gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Trending Musics</h1>
        </div>
    </div>
</div>

<div class="container-fluid competitionblock2 trendingvideoandlistingwrapper">
    <div class="row no-gutter">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 artistsexchangeleftdiv trendingmusic-contaioner">
            <div class="sectionbody">
                <div class="row no-gutter sectionheaderinner col-container tranding_videoandlisting">
                    <div class="row avi_trandingmedia">
                        <div class="col-md-8 col-lg-8 col-sm-7 col-xs-12 audioplayer_play">
                            <div class="col-1-1">
                                <div class="col-1-5 col colcolor">
                                    <div class="videoWrapper">
                                        <!--<img src="assets/images/audioplayerbackground.jpg" alt="RTR1">-->
                                        <div class="audioinfo">
                                            <div class="audioinfologo">
                                                <img src="../../assets/images/artistheaderlogo.png" alt="%">
                                            </div>
                                            <div class="audioinfotitle">
                                                <!--Audio Default title-->
                                                {{chosenaudiotitletrending}}
                                            </div>
                                            <div class="audioinfousername">
                                                <!--UserName - <span>IBM</span>-->
                                                By - <span>{{audiousernamefortrending}}</span>
                                            </div>

                                        </div>
                                        <img *ngIf="isaudioplayfortrending" src="../../assets/images/audio-play-image.gif" alt="RTR1" class="playaudioimage">
                                        <!--<img src="../../assets/images/audio-play-image.gif" alt="RTR1" class="playaudioimage">-->
                                        <img *ngIf="!isaudioplayfortrending" src="../../assets/images/pause-gif-image.jpg" alt="RTR2" class="pauseaudioimage" >
                                        <audio *ngIf="chosenaudiourlfortrending!=''" id="audioplayer4">
                                            <source [attr.src]="chosenaudiourlfortrending" type="audio/mpeg">
                                            Your browser does not support the audio tag.
                                        </audio>

                                    </div>
                                    <div class="sectionheaderinnercontainer">
                                        <div class="playsilider">

                                            <ng5-slider [(value)]="value2" [options]="options2" (userChange)="changeaudioplayertimertrending()" (valueChange)="setval1()"></ng5-slider>

                                            <!--<ng5-slider [(value)]="value1" [options]="options1"></ng5-slider>-->
                                        </div>
                                        <div class="playericons">
                                            <!--<blockquote>
                                                <p class="mb-0">Total Audience 31,000 </p>
                                                <p class="mb-1">Genre Hip Hop, Rap </p>
                                                <p class="mb-2"><a href="javascript:void(0);">See Trade</a></p>
                                            </blockquote>-->
                                            <div class="audioicon_d audioicon1">
                                                <!--<p>0:00:00/01:21:36</p>-->
                                                <p>{{convertsecstoformat(value2)}}/{{convertsecstoformat(audioDurationfortrending)}}</p>
                                            </div>
                                            <div class="audioicon_d audioicon2">
                                                <!--<span class="icons1"><img src="assets/images/audio_leftarrow.png" alt="#"> </span>-->
                                                <span class="icons1"><img src="assets/images/audio_leftarrow.png" (click)="playbackwardffortrending()" alt="#"> </span>
                                                <!--<span class="icons2"><img src="assets/images/audio_playicon.png" alt="#"> </span>-->

                                                <span *ngIf="!isaudioplayfortrending" class="icons2" (click)="playmusicfortrending()"><img src="assets/images/audio_playicon.png" alt="#"> </span>
                                                <span *ngIf="isaudioplayfortrending" class="icons2" (click)="playmusicfortrending()"><img src="assets/images/audio_pauseicon.png" alt="#"> </span>

                                                <!--<span class="icons3"><img src="assets/images/audio_rightarrow.png" alt="#"> </span>-->
                                                <span class="icons3"><img src="assets/images/audio_rightarrow.png" (click)="playforwardfortrending()" alt="#"> </span>
                                            </div>
                                            <div class="audioicon_d audioicon3">
                                                <!--<span class="icons01"><img src="assets/images/audioicon1.png" alt="#"> </span>-->
                                                <span *ngIf="!shuffleflag2" class="icons01"><img (click)="shuffleontrending()" src="../../assets/images/audioicon1-inactive.png" alt="#"></span>
                                                <span *ngIf="shuffleflag2" class="icons01"><img (click)="shuffleofftrending()" src="../../assets/images/audioicon1-active.png" alt="#"></span>
                                               <!-- <span class="icons02"><img src="assets/images/audioicon2.png" alt="#"> </span>-->
                                                <span (click)="muteaudiotrending()" *ngIf="!ismuteaudiotrending" class="icons02"><img src="assets/images/audioicon2.png" alt="#"> </span>
                                                <span *ngIf="ismuteaudiotrending" (click)="unmuteaudiotrending()"  class="icons02"><img src="../../assets/images/audio_muteicon.png" alt="#"> </span>
                                                <span class="icons03">
                                                                           <!-- <ng5-slider [(value)]="value" [options]="options"></ng5-slider>-->
                                                    <ng5-slider [(value)]="value3" [options]="options3"  (userChange)="changeaudioplayervolumetrending()"></ng5-slider>
                                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span *ngIf="musicdetailArray.length>0">
                            <div class="feedslinks" >
                                <!--<span class="feedslinks5"><i class="fa fa-eye"></i>Views:784</span>-->
                                 <span class="feedslinks5" *ngIf="selectedmusictrending.musicviews[0]!=null"><i class="fa fa-eye"></i>Views:{{selectedmusictrending.musicviews[0].musiccount}}</span>
                                        <span class="feedslinks5" *ngIf="selectedmusictrending.musicviews[0]==null"><i class="fa fa-eye"></i>Views:0</span>
                                <!--<span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like:158</span>-->
                                <span (click)="showmusiclike(selectedmusictrending)" *ngIf="selectedmusictrending.musiclikes[0]!=null && !getlikeonstatus(selectedmusictrending.usermusiclikes)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like:{{selectedmusictrending.musiclikes[0].vlike}}</span>
                                        <span (click)="showmusiclike(selectedmusictrending)" *ngIf="selectedmusictrending.musiclikes[0]==null"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like: 0</span>
                                        <span (click)="showmusicunlike(selectedmusictrending)" *ngIf="selectedmusictrending.musiclikes[0]!=null && getlikeonstatus(selectedmusictrending.usermusiclikes)" ><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like: {{selectedmusictrending.musiclikes[0].vlike}}</span>


                                <span class="feedslinks3"><i class="fa fa-comment"></i> Comments:{{selectedmusictrending.comments.length}}</span>
                                <!--<span class="feedslinks4"><i class="fa fa-share-alt"></i> Share</span>-->
                                 <ng-template #popTemplateat><div [innerHtml]="html"></div></ng-template>

                                    <span [popover]="popTemplateat" [outsideClick]="true"><i class="fa fa-share-alt" aria-hidden="true" (mouseenter)="setshareflag('trendingaudio',selectedmusictrending)"></i> Share</span>
                            </div>

                        </span>
                            <div class="comment_modal">
                                <div class="comment_container">
                                    <div class="row no-gutter col-container bodybloc5bottom" *ngFor="let valc of selectedmusictrending.comments">
                                        <div class="col">
                                            <div class="feedslinks">
                            <span class="feedslinks1 comment_user_image">
                                <div class="imgwrapper">
                                    <!--<img src="assets/images/artistfeed-smlimg1btm.jpg" alt="RTP5">-->
                                    <span *ngIf="valc.userdata[0].images!=null" >
                                        <a target="_blank" [routerLink]="['/userprofile',valc.user_id,valc.userdata[0].username]" >
                                        <img src="{{siteurl}}nodeserver/uploads/{{valc.userdata[0].images}}" >
                                        </a>
                                    </span>

                                    <span *ngIf="valc.userdata[0].images==null">
                                            <a target="_blank" [routerLink]="['/userprofile',valc.user_id,valc.userdata[0].username]" >
                                            <img src="../../assets/images/default_profile_pic.jpg" >
                                            </a>
                                    </span>

                                </div>
                            </span>
                                                <span class="feedslinks3 comment_user_text">
                                <div class="row">
                                    <div class="row comment_box">
                                        <span class="timespan">{{convertunixtotimeago(valc.added_time)}}</span>
                                        <!--<a href="#">User name</a>
                                        <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the                                           printing and typesetting industry. </b>-->

                                        <a target="_blank" [routerLink]="['/userprofile',valc.user_id,valc.userdata[0].username]">{{valc.userdata[0].firstname}} {{valc.userdata[0].lastname}}</a>
                                        <b>{{valc.comment}}</b>
                                    </div>
                                   <!-- <div class="row no-gutter col-container bodybloc5bottom">
                                        <div class="col">
                                            <div class="feedslinks comment_text_reply">
                                                <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                               <!-- <div class="row">
                                    <div class="row no-gutter col-container bodybloc5bottom">
                                        <div class="col">
                                            <div class="feedslinks">
                                                <span class="feedslinks1 comment_user_image">
                                                    <div class="imgwrapper"><img src="assets/images/artistfeed-smlimg3.jpg" alt="RTP5"></div>
                                                </span>
                                                <span class="feedslinks3 comment_user_text">
                                                    <div class="row">
                                                        <div class="row comment_box">
                                                            <a href="#">User name</a>
                                                            <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </b>
                                                        </div>
                                                        <div class="row no-gutter col-container bodybloc5bottom">
                                                            <div class="col">
                                                                <div class="feedslinks comment_text_reply">
                                                                    <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                                    <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row no-gutter col-container bodybloc5bottom">
                                        <div class="col">
                                            <div class="feedslinks">
                                                <span class="feedslinks1 comment_user_image">
                                                    <div class="imgwrapper"><img src="assets/images/artistfeed-smlimg3.jpg" alt="RTP5"></div>
                                                </span>
                                                <span class="feedslinks3 comment_user_text">
                                                    <div class="row">
                                                        <div class="row comment_input">
                                                            <input type="text" class="form-control">
                                                        </div>

                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="isloggedin==1">
                                        <div class="row no-gutter col-container bodybloc5bottom">
                                            <div class="col">
                                                <div class="feedslinks">
                                                    <span class="feedslinks1 comment_user_image">
                                                        <div class="imgwrapper">
                                                            <!--<img src="assets/images/artistfeed-smlimg3.jpg" alt="RTP5">-->
                                                            <span *ngIf="image==null">

                                            <img src="../../assets/images/default_profile_pic.jpg" >

                                        </span>
                                        <span *ngIf="image!=null" >

                                            <img src="{{siteurl}}nodeserver/uploads/{{image}}" >

                                        </span>
                                                        </div>
                                                    </span>
                                                    <span class="feedslinks3 comment_user_text">
                                                        <div class="row">
                                                            <div class="row comment_input">
                                                                <input type="text" class="form-control" [(ngModel)]="commentval" (keyup)="addcomment($event)">
                                                            </div>

                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row no-gutter col-container bodybloc5bottom">
                                        <div class="col">
                                            <div class="feedslinks">
                            <span class="feedslinks1 comment_user_image">
                                <div class="imgwrapper"><img src="assets/images/artistfeed-smlimg1btm.jpg" alt="RTP5"></div>
                            </span>
                                                <span class="feedslinks3 comment_user_text">
                                <div class="row comment_box">
                                    <a href="#">User name</a>
                                    <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the                                           printing and typesetting industry. </b>
                                </div>
                                <div class="row no-gutter col-container bodybloc5bottom">
                                    <div class="col">
                                        <div class="feedslinks comment_text_reply">
                                            <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                            <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutter col-container bodybloc5bottom">
                                        <div class="col">
                                            <div class="feedslinks">
                            <span class="feedslinks1 comment_user_image">
                                <div class="imgwrapper"><img src="assets/images/artistfeed-smlimg1btm.jpg" alt="RTP5"></div>
                            </span>
                                                <span class="feedslinks3 comment_user_text">
                                <div class="row comment_box">
                                    <a href="#">User name</a>
                                    <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the                                           printing and typesetting industry. </b>
                                </div>
                                <div class="row no-gutter col-container bodybloc5bottom">
                                    <div class="col">
                                        <div class="feedslinks comment_text_reply">
                                            <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                            <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutter col-container bodybloc5bottom">
                                        <div class="col">
                                            <div class="feedslinks">
                            <span class="feedslinks1 comment_user_image">
                                <div class="imgwrapper"><img src="assets/images/artistfeed-smlimg1btm.jpg" alt="RTP5"></div>
                            </span>
                                                <span class="feedslinks3 comment_user_text">
                                <div class="row">
                                    <div class="row comment_box">
                                        <a href="#">User name</a>
                                        <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the                                           printing and typesetting industry. </b>
                                    </div>
                                    <div class="row no-gutter col-container bodybloc5bottom">
                                        <div class="col">
                                            <div class="feedslinks comment_text_reply">
                                                <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row no-gutter col-container bodybloc5bottom">
                                        <div class="col">
                                            <div class="feedslinks">
                                                <span class="feedslinks1 comment_user_image">
                                                    <div class="imgwrapper"><img src="assets/images/artistfeed-smlimg3.jpg" alt="RTP5"></div>
                                                </span>
                                                <span class="feedslinks3 comment_user_text">
                                                    <div class="row">
                                                        <div class="row comment_box">
                                                            <a href="#">User name</a>
                                                            <b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </b>
                                                        </div>
                                                        <div class="row no-gutter col-container bodybloc5bottom">
                                                            <div class="col">
                                                                <div class="feedslinks comment_text_reply">
                                                                    <span class="feedslinks6"><i class="fa fa-thumbs-up"></i> Like</span>
                                                                    <span class="feedslinks7"><i class="fa fa-reply"></i> Reply</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12 trending_video_list">
                            <div class="scrollbar trendingvideoscrollbar style-2" id="style-4">
                                <div class="row">
                                    <div class="video_list" *ngFor="let val of musicdetailArray;let i=index;" >
                                        <div class="col-md-4 col-sm-4 col-xs-3">
                                            <div class="videowrapper">
                                                <!--<img src="assets/images/xp_music_banner2.jpg" alt="#">-->
                                                <img *ngIf="(audioplayerindextrending!=i  && isaudioplayfortrending==false ) || (audioplayerindextrending==i && i==0 && isaudioplayfortrending==false )|| (audioplayerindextrending!=i && i!=0 && isaudioplayfortrending==true ) || (audioplayerindextrending!=i && i==0 && isaudioplayfortrending==true ) || isaudioplayfortrending==false " (click)="playaudiotrending(val)" src="../../assets/images/xp_music_banner.jpg" alt="#">
                                                <img *ngIf="audioplayerindextrending==i && isaudioplayfortrending==true " (click)="playaudiotrending(val)" src="../../assets/images/xp-music-pause-banner-2.png" alt="#">
                                                <!--<img _ngcontent-c1="" alt="#" src="../../assets/images/s_play_btn.png">-->
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-9 tranding_blogp">
                                            <!--<p>Lorem ipsum dolor sit amet, in nec eros melius adipiscing</p>-->
                                            <p>{{val.title_music}}</p>
                                            <!--<p><span>JIMMY SARAB </span> <span class="pull-right"> ON 3-14-2018</span></p>-->
                                            <p>{{val.userdata[0].firstname+' '+val.userdata[0].lastname}} <span class="pull-right">{{convertunixtotimeago(val.added_time)}}</span></p>
                                            <p>
                                                <!--<span><i class="fa fa-eye" aria-hidden="true"></i> Views: 389</span>-->
                                                <span class="feedslinks5" *ngIf="val.musicviews[0]!=null"><i class="fa fa-eye"></i>Views:{{val.musicviews[0].musiccount}}</span>
                                                <span class="feedslinks5" *ngIf="val.musicviews[0]==null"><i class="fa fa-eye"></i>Views:0</span>

                                                <!--<span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>-->
                                                <ng-template #popTemplateat1><div [innerHtml]="html"></div></ng-template>

                                                <span [popover]="popTemplateat1" [outsideClick]="true"><i class="fa fa-share-alt" aria-hidden="true" (mouseenter)="setshareflag('trendingaudio',val)"></i> Share</span>


                                                <!--<span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>-->

                                                <span (click)="showmusiclike(val)" *ngIf="val.musiclikes[0]!=null && !getlikeonstatus(val.usermusiclikes)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like:{{val.musiclikes[0].vlike}}</span>
                                                <span (click)="showmusiclike(val)" *ngIf="val.musiclikes[0]==null"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like: 0</span>
                                                <span (click)="showmusicunlike(val)" *ngIf="val.musiclikes[0]!=null && getlikeonstatus(val.usermusiclikes)" ><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like: {{val.musiclikes[0].vlike}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                               <!-- <div class="row">
                                    <div class="video_list">
                                        <div class="col-md-4 col-sm-4 col-xs-3">
                                            <div class="videowrapper">
                                                <img src="assets/images/xp_music_banner2.jpg" alt="#">
                                                <img _ngcontent-c1="" alt="#" src="../../assets/images/s_play_btn.png">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-9 tranding_blogp">

                                            <p>Lorem ipsum dolor sit amet, in nec eros melius adipiscing</p>
                                            <p><span>JIMMY SARAB </span> <span class="pull-right"> ON 3-14-2018</span></p>
                                            <p>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i> Views: 389</span>
                                                <span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="video_list">
                                        <div class="col-md-4 col-sm-4 col-xs-3">
                                            <div class="videowrapper">
                                                <img src="assets/images/xp_music_banner2.jpg" alt="#">
                                                <img _ngcontent-c1="" alt="#" src="../../assets/images/s_play_btn.png">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-9 tranding_blogp">
                                            <p>Lorem ipsum dolor sit amet, in nec eros melius adipiscing</p>
                                            <p><span>JIMMY SARAB </span> <span class="pull-right"> ON 3-14-2018</span></p>
                                            <p>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i> Views: 389</span>
                                                <span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="video_list">
                                        <div class="col-md-4 col-sm-4 col-xs-3">
                                            <div class="videowrapper">
                                                <img src="assets/images/xp_music_banner2.jpg" alt="#">
                                                <img _ngcontent-c1="" alt="#" src="../../assets/images/s_play_btn.png">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-9 tranding_blogp">
                                            <p>Lorem ipsum dolor sit amet, in nec eros melius adipiscing</p>
                                            <p><span>JIMMY SARAB </span> <span class="pull-right"> ON 3-14-2018</span></p>
                                            <p>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i> Views: 389</span>
                                                <span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="video_list">
                                        <div class="col-md-4 col-sm-4 col-xs-3">
                                            <div class="videowrapper">
                                                <img src="assets/images/xp_music_banner2.jpg" alt="#">
                                                <img _ngcontent-c1="" alt="#" src="../../assets/images/s_play_btn.png">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-9 tranding_blogp">
                                            <p>Lorem ipsum dolor sit amet, in nec eros melius adipiscing</p>
                                            <p><span>JIMMY SARAB </span> <span class="pull-right"> ON 3-14-2018</span></p>
                                            <p>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i> Views: 389</span>
                                                <span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="video_list">
                                        <div class="col-md-4 col-sm-4 col-xs-3">
                                            <div class="videowrapper">
                                                <img src="assets/images/xp_music_banner2.jpg" alt="#">
                                                <img _ngcontent-c1="" alt="#" src="../../assets/images/s_play_btn.png">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-9 tranding_blogp">
                                            <p>Lorem ipsum dolor sit amet, in nec eros melius adipiscing</p>
                                            <p><span>JIMMY SARAB </span> <span class="pull-right"> ON 3-14-2018</span></p>
                                            <p>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i> Views: 389</span>
                                                <span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="video_list">
                                        <div class="col-md-4 col-sm-4 col-xs-3">
                                            <div class="videowrapper">
                                                <img src="assets/images/xp_music_banner2.jpg" alt="#">
                                                <img _ngcontent-c1="" alt="#" src="../../assets/images/s_play_btn.png">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-9 tranding_blogp">
                                            <p>Lorem ipsum dolor sit amet, in nec eros melius adipiscing</p>
                                            <p><span>JIMMY SARAB </span> <span class="pull-right"> ON 3-14-2018</span></p>
                                            <p>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i> Views: 389</span>
                                                <span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--<div class="row no-gutter sectionheaderinner col-container paginationtabwrapper">
                <nav class="paginationtab">
                    <div class="paginationwrapper">
                        <ul class="pagination pg-darkgrey pagination_list">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link">4</a></li>
                            <li class="page-item"><a class="page-link">5</a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>-->
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 competitionrightdiv competitionrightdivtop">
            <!---Right Side Banner Start Block---->
            <div class="rightbannerdivwrapper">
                <div class="rightbannerdiv">
                    <div class="rightbannerdivimg">
                        <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen6.jpg" alt="rightbannerdiv screen6"></div>
                    </div>
                    <div class="rightbannerdivimg">
                        <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen3.jpg" alt="rightbannerdiv screen3"></div>
                    </div>
                </div>
            </div>
            <!---Right Side Banner End Block---->
        </div>
    </div>

</div>



<app-artistfooter></app-artistfooter>





<ng-template #commingsoontemplate>
    <div class="modal-body text-center signupeamilbody">

        <button type="button" class="close" (click)="closep()">&times;</button>
        <img src="../../assets/images/artistheaderlogo.png" alt="logo">
        <p><span>This is currently a concept page to give you and idea of what the ArtistXP Experience is going to be all about. When we launch you will have access to these incredible features. <br><br>Get the ArtistXP Experience NOW!  <a style="cursor: pointer; width: 360px;" (click)="gotoSignUp()">Get back to Pre Launch Sign Up</a></span></p>

    </div>
</ng-template>
<a style="display: none;" #gsharelink [attr.href]="generalshareurl" class="gsharelink" target="_blank">Share</a>